header{
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 6px solid #c7417b;
}
.navbar-brand{
    font-weight: bold;
}
.navbar-brand img{
    max-width: 35px;
    margin-right: 5px;
}
.cart a{
    color: #24292e;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
.navbar-link{
    position: relative;
}
.cart-number{
    background-color: #c7417b;
    color: #fff;
    font-size: 12px;
    width: 21px;
    display: inline-block;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    left: 3;
    top: -5px;
}